@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    font-family: 'Work Sans', sans-serif;
}

.header {
    color:  white;
    font-size: 34px;
    text-align: center;
}