.weather_display {
    width: 260px;
    height: 300px;
    margin: 20px auto;
    padding-top: 64px;
}

#icon {
    width: 64px;
    height: 64px;
    margin-top: 5px;
    margin-bottom: -15px;    
}

#temp {
    margin-top: 10px;
}

.weather_button {
    position: relative;
    outline: none;
    border: none;
    background: none;
    font-size: 34px;
    top: 5px;
    right: 3px;
    color: blue
}